@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    EPAM students lab<br />
    Mogilev, Belarus<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lalaka32@mail.ru">lalaka32@mail.ru</a><br />
    <strong>GitHub:</strong> <a href="https://www.github.com/lalaka32">github.com/lalaka32</a>
</address>