@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1>Reminder</h1>
    <p class="lead">We will remind all.</p>
</div>

<div class="row">
	@Html.ActionLink("User", "Index","User")
</div>