@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1>Reminder</h1>
    <p class="lead">We will remind all.</p>
</div>

<div class="row">
	@Html.Raw("<img style='width:280px; height:160px;' src=\"data:image/jpeg;base64,"
							+ Convert.ToBase64String(ViewBag.Advert) + "\" />")
</div>