<!--Check idenfication here-->
<ul class="nav navbar-nav navbar-right">
	@if (Request.IsAuthenticated)
	{

		<li> User.Identity.Name</li>
	}
	else
	{
		<li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	}
</ul>