<ul class="nav navbar-nav navbar-right">
	@if (User.Identity.IsAuthenticated)
	{
		<li>@Html.ActionLink(User.Identity.Name, "UserProfile", "Account", routeValues: new { login = User.Identity.Name }, htmlAttributes: null)</li>
		<li>@Html.ActionLink("Logout", "Logout", "Account")</li>
	}
	else
	{
		<li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	}
</ul>